@font-face {
  src: url("HelveticaNeueCyr-Light.woff2") format("woff2");
  font-family: "HelveticaNeue-Light";
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", sans-serif;
}

a:link,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline-block;
}

body {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "head nav"
    "head foot";
  grid-template-rows: 10fr 1fr;
  grid-template-columns: 5fr 2fr;
  padding: 3rem;
}

header {
  grid-area: head;
  display: grid;
  grid-template-areas:
    "title1 content1"
    "title2 content2"
    "title3 content3"
    "title4 content4"
    "title5 content5"
    "title6 content6";
  grid-template-rows: auto;
  grid-template-columns: 1fr 5fr;
}

#project {
  grid-area: title1;
}

#type {
  grid-area: title2;
}
#architect {
  grid-area: title3;
}

#location {
  grid-area: title4;
}

#email {
  grid-area: title5;
}
#phone {
  grid-area: title6;
}

#project-content {
  grid-area: content1;
}
#type-content {
  grid-area: content2;
}
#architect-content {
  grid-area: content3;
  color: rgb(31, 244, 15);
}
#location-content {
  grid-area: content4;
}
#email-content {
  grid-area: content5;
}
#phone-content {
  grid-area: content6;
}

#project,
#type,
#architect,
#location,
#email,
#phone {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 3vh;
  align-self: self-end;
}

#project-content,
#type-content,
#architect-content,
#location-content,
#email-content,
#phone-content {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 7vh;
  align-self: self-end;
}

.header-container {
  display: flex;
  height: 5vh;
  align-content: flex-end;
}

nav {
  grid-area: nav;
  font-size: 3vh;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

footer {
  grid-area: foot;
  align-self: self-end;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.8rem;
  text-align: right;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}

.nav-container a {
  color: black;
}
