* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: blue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline-block;
}

body {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "head nav"
    "head nav"
    "head foot";
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: 3fr 1fr;
}

header {
  grid-area: head;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  padding: 4rem 0rem 4rem 4rem;
  font-size: 6.5vh;
  letter-spacing: 0.4rem;
  color: #343434;
}

nav {
  grid-area: nav;
  font-size: 1.5rem;
  padding: 4rem 4rem 4rem 0rem;
}

footer {
  grid-area: foot;
  font-family: Helvetica, sans-serif;
  font-size: 0.7rem;
  padding: 4rem;
  text-align: right;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.3rem;
}

.nav-container a {
  color: blue;
}
