footer {
  font-size: 1.3rem;
  padding: 3rem 7vw;
  margin-top: 60vh;

  ul {
    display: grid;
    grid-template-columns: 10fr repeat(3, 5fr);
  }

  li {
    align-self: center;
  }

  .top {
    grid-column-start: 4;
  }
}
