nav {
  position: fixed;
  width: 100%;
  height: 10vh;
  padding: 4vh 7vw;
  top: 0;
  backdrop-filter: blur(7px);

  ul {
    display: grid;
    grid-template-columns: 10fr repeat(3, 5fr);
    font-size: 1.3rem;
  }

  li {
    align-self: center;
  }
}
