@use "utils/mixins";
@use "base/base";
@use "layout/navbar";
@use "layout/header";
@use "layout/footer";
@use "pages/home";
@use "pages/work";
@use "pages/public";
@use "pages/about";
@use "pages/projects";
