// General

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-weight: 100;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline-block;
}

body {
  width: 100%;
  height: 100%;
}

// Typography

@font-face {
  src: url("../../fonts/HelveticaNeueCyr-Light.woff2") format("woff2");
  font-family: "HelveticaNeue-Light";
  font-display: swap;
}

a:link,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

// Navigation

nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 10vh;
  padding: 4vh 7vw;
  top: 0;
  backdrop-filter: blur(7px);

  ul {
    display: grid;
    grid-template-columns: 10fr repeat(3, 5fr);
    font-size: 1.3rem;
  }

  li {
    align-self: center;
  }
}

// Header

header {
  margin-top: 16vh;
  display: flex;
  padding: 0 7vw;
  h1 {
    font-size: 6vh;
    line-height: 7.5vh;
  }
}

// Layout

main {
  padding: 7vw;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(56, 10vh);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.text1,
.text2,
.text3,
.text4 {
  font-size: 1.3rem;
  line-height: 1.7rem;
}

.text1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.text2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 13;
  grid-row-end: 15;
}
.text3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 25;
  grid-row-end: 27;
}
.text4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 38;
  grid-row-end: 41;
}

.land1 {
  grid-column-start: 4;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 7;
}

.land2 {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 29;
  grid-row-end: 37;
}

.land3 {
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 50;
  grid-row-end: 57;
}

.land4 {
  grid-column-start: 5;
  grid-column-end: 11;
  grid-row-start: 36;
  grid-row-end: 43;
}

.port1 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 11;
  z-index: 1;
}

.port2 {
  grid-column-start: 6;
  grid-column-end: 10;
  grid-row-start: 8;
  grid-row-end: 15;
}

.port3 {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 16;
  grid-row-end: 24;
}

.port4 {
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row-start: 22;
  grid-row-end: 28;
}

.port5 {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 42;
  grid-row-end: 49;
  z-index: 1;
}

// Footer

footer {
  font-size: 1.3rem;
  padding: 3rem 7vw;
  margin-top: 20vh;
}

footer ul {
  display: grid;
  grid-template-columns: 10fr repeat(3, 5fr);
}

footer li {
  align-self: center;
}

footer .top {
  grid-column-start: 4;
}
