@font-face {
  src: url("../../../fonts/HelveticaNeueCyr-Light.woff2") format("woff2");
  font-family: "HelveticaNeue-Light";
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", sans-serif;
  font-weight: 100;
  scroll-behavior: smooth;
}

body {
  background-color: #c7c3b8b2;
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline-block;
}

a:link,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}

a:hover {
  color: white;
}
