.about-main {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  margin-top: 16vh;
}

.default-text {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: 0 7vw;
}

.clients {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: 0 7vw;
  &-list {
    display: grid;
    grid-template-columns: repeat(5, 5fr);
    font-size: 1rem;
    line-height: 2rem;
  }
}
