.public-main {
  margin-top: 16vh;
}

.public-work {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;

  &-text {
    display: flex;
    font-size: 5.9vh;
    line-height: 7.5vh;
    padding: 0 7vw;
  }
}

.public-section {
  z-index: 10;
  margin-top: 8vh;
}

.public-titles {
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  padding: 1.5vh 7vw;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 1.3rem;
}

.public-publications {
  .publication {
    display: grid;
    grid-template-columns: 10fr 10fr 5fr;
    padding: 1.5vh 7vw;
    border-bottom: 1px solid black;
    p {
      font-size: 1.3rem;
    }
  }
}
