.public-main {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  margin-top: 16vh;
}

.public-template {
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  padding: 1.5vh 7vw;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 1.3rem;
}

.publication {
  display: grid;
  grid-template-columns: 10fr 10fr 5fr;
  padding: 1.5vh 7vw;
  border-bottom: 1px solid black;
  p {
    font-size: 1.3rem;
  }
}
